<div class="toolbar" role="banner">
  <img
    width="40"
    alt="code icon"
    src="../assets/icons/code.ico"
  />
  <span>Welcome</span>
</div>

<div class="content" role="main">

  <div class="terminal">
    <p>> Hi! My name is João.</p>
    <p>> I'm a frontend software developer and I've been working with AngularJS and Angular since 2015.</p>
  </div>
  
  <h2>Links</h2>

  <div class="card-container">
    <a *ngFor="let link of links" class="card" target="_blank" rel="noopener" href="{{ link.url }}">
      <svg class="icons" aria-hidden="true" focusable="false" data-icon="github" width="24" height="24" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
        <path fill="currentColor" [attr.d]="link.svg"></path>
      </svg>
      <span>{{ link.title }}</span>
    </a>
  </div>

  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39" data-name="Path 39" [attr.d]="svgClouds" transform="translate(142.69 -634.312)" fill="#eee"/>
  </svg>
</div>

<router-outlet></router-outlet>
